* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #121212;
  --secondary-color: #f5f5f5;
}

.light {
  --primary-color: #f5f5f5;
  --secondary-color: #121212;
}

body {
  background: #121212;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.row-index {
  align-items: center;
  height: 500px;
  padding: 20px 50px;
  background: var(--secondary-color);
}

.form-control:focus {
  box-shadow: none;
  border: 0px solid transparent;
  background: var(--secondary-color);
  border-bottom: 1px solid var(--primary-color);
}

.form-control {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.btn {
  width: 100%;
}

.alert-danger {
  display: none;
}

.date {
  display: flex;
}

.date::before {
  content: "";
  width: 10%;
  height: 1px;
  background: var(--secondary-color);
  margin: auto 1rem auto 0;
}

.date::after {
  content: "";
  width: 50%;
  height: 1px;
  background: var(--secondary-color);
  margin: auto 1rem;
}

img {
  background: var(--secondary-color);
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
  width: 100%;
}

@media screen and (min-width: 490px) {
  .img-fluid {
    width: 250px;
    height: 250px;
  }
}

img:hover {
  transform: scale(1.1);
}
